In [207]:
import pandas as pd
import numpy as np

url = "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
base = pd.read_csv(url, usecols=[' 77516', ' Bachelors', ' 13', ' Never-married', 
                                 ' Adm-clerical', ' Not-in-family', ' White', ' <=50K'])

In [208]:
base

,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,<=50K
0,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,<=50K
1,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,<=50K
2,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,<=50K
3,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,<=50K
4,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,<=50K
...,...,...,...,...,...,...,...,...
32555,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,<=50K
32556,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,>50K
32557,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,<=50K
32558,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,<=50K
32559,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,>50K

In [209]:
prev = base.iloc[:, [1, 3, 4, 5, 6]].values
y = base.iloc[:, 7].values

In [210]:
from sklearn.preprocessing import LabelEncoder
le_X = LabelEncoder()
le_y = LabelEncoder()

y = le_y.fit_transform(y)
X = []

for p in prev: # For nos arrays de valores categóricos
    X.append(le_X.fit_transform(p))

In [211]:
X = np.array(X)
anothers_X = base.iloc[:, [0, 2]].values
X = np.concatenate((X, anothers_X), axis=1)

In [212]:
from sklearn.preprocessing import StandardScaler
scaler_X = StandardScaler()
X = scaler_X.fit_transform(X)

In [213]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=66)

In [214]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
rfc_predict = rfc.predict(X_test)

In [215]:
from sklearn.metrics import confusion_matrix, accuracy_score, r2_score
precision_rfc = accuracy_score(y_test, rfc_predict)
matrix_rfc = confusion_matrix(y_test, rfc_predict)
print("[RandomForest]\n Precision:", precision_rfc, "\n Matrix:", matrix_rfc)

[RandomForest]
 Precision: 0.7544904606793857
 Matrix: [[6861 1308]
 [1330 1246]]

In [216]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
gnb_predict = gnb.predict(X_test)

In [220]:
precision_gnb = accuracy_score(y_test, gnb_predict)
matrix_gnb = confusion_matrix(y_test, gnb_predict)
print("[GaussianNB]\n Precision:", precision_gnb, "\n Matrix:", matrix_gnb)

[GaussianNB]
 Precision: 0.7842717543043276
 Matrix: [[7564  605]
 [1713  863]]

In [218]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_predict = lr.predict(X_test)

In [219]:
precision_lr = r2_score(y_test, lr_predict)
print("[LinearRegression]\n Precision:", precision_lr)

[LinearRegression]
 Precision: 0.17736114392804925