In [7]:
import pandas as pd
import numpy as np

In [8]:
base = pd.read_csv('credit-data.csv')
base

      clientid        income        age         loan  default
0            1  66155.925095  59.017015  8106.532131        0
1            2  34415.153966  48.117153  6564.745018        0
2            3  57317.170063  63.108049  8020.953296        0
3            4  42709.534201  45.751972  6103.642260        0
4            5  66952.688845  18.584336  8770.099235        1
...        ...           ...        ...          ...      ...
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

[2000 rows x 5 columns]

In [9]:
base['age'] = base['age'].fillna(base['age'].mean())

In [10]:
base['default'].unique()

array([0, 1])

In [11]:
X = base.iloc[:, 1:4].values
y = base.iloc[:, 4].values

from sklearn.preprocessing import StantadScaler
scaler_x = StandardScaler()
X = scaler_x.fit_transform(X)
X

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=66)

In [14]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [15]:
rfc_predict = rfc.predict(X_test)

In [16]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

In [17]:
rfc_cv_score = cross_val_score(rfc, X, y, cv=10, scoring="roc_auc")

In [18]:
print("\nClassification Report")
print(classification_report(y_test, rfc_predict))
print("\nAUC Score (mean)", rfc_cv_score.mean())

Classification Report
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       566
           1       0.98      0.90      0.94        94

    accuracy                           0.98       660
   macro avg       0.98      0.95      0.96       660
weighted avg       0.98      0.98      0.98       660


AUC Score (mean) 0.9987533509830442